*{
  margin: 0;
  padding: 0;

}
.container{
  align-items: center;
  width: 80%;
}

.cards{
  width: 25rem;
  border: 1px solid black;
}
.cards-right img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  float: right;
}
a img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  

}
i{
  font-size: 20px;
}
.bottom-section p{
  word-wrap: break-word;
}
.bottom-section i{
  cursor: pointer;
  color: rgb(140, 140, 233);
}
.div i{
  font-size: 30px;
}
.mess{
  position: relative;
}
.count{
  position: absolute;
  top: 35px;
  left: 40px;
  transform: translate(-50%,-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(250, 101, 101);
  font-size: 10px;
color: brown;
}
.Contact-list{
  line-height: 10px;
  
}
.cards1 h5{
color: rgb(70, 178, 182);
}
.cards1 button{
  width: 120px;
  height: 30px;
  background-color: rgb(233, 233, 64);
border-radius: 20px;
border: none;
color: white;
}
@media(max-width:501px){
  .cards{
    width: 280px;
    margin-right: 20px;
  }
  .Contact-list{
    font-size: small;
  }
  .cards-left h6{
    font-size: 10px;
  }
  
  .div span{
    font-size: 10px;
  }
  .navbar-toggle button{
    font-size: 12px;
  }

}
@media (max-width: 575.98px) {
  .cards{
    margin-right: 40px;
  
  }
  .col-12{
    padding: 0;
  }
  }

@media (max-width: 767.98px) { 
  .cards{
    margin-left: 40px;
  
  }
}

@media (max-width: 991.98px) { 
  .cards{
    margin-top: 20px;
  }
 }

